<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Template 8 - Emastic</title>
 <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="css/grid.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="css/type.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="css/plugins/gadgets.css" type="text/css" media="screen, projection">
 <!--[if IE]>
 <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection">
 <![endif]-->

  <style>
  .main{width:80em;}

  
  .bg1{background-color:#555; }
  .bg2{background-color:#666; }
 .bg3{background-color:#777; }
 .bg4{background-color:#888; }
 .bg5{background-color:#999; }
 .bg6{background-color:#ccc; }
 .hg1{ height:5em;}
 .hg2{ height:40em;}
 .hg3{ height:20em;}
/*h2{ display:none;}*/
 </style>

</head>

<body>
<div class="main">

<div class="hp bg3 tc hg1 clearfix"><h2>Header</h2>

</div>
<div  class="dl70">
<div  class="dl70 bg1 tc hg3"><h2>70em</h2></div>
<div class="clear"></div>
<div  class="dl35 bg2 tc hg3"><h2>35em</h2></div>
<div  class="dl35 bg5 tc hg3"><h2>35em</h2></div>

</div>


<div  class="dl10 bg6 tc hg2"><h2>10em</h2></div>




<div class="hp bg3 tc hg1"><h2>Footer</h2> </div>
</div>

</body>
</html>



