<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"> 
<div id="main">
<div class="container">
<div id="signup" class="accounts-form row">

    <div class="span10 offset2">
        <h1>Sign up to HATS</h1>
        <p class="note">HATS 계정을 생성 하세요! </p>

        
            <div class="all-errors">
                
            </div>
            <div class="input">
                <input id="id_username" type="text" placeholder="Username" name="username" maxlength="30" />
                
            </div>

            <div class="input">
                <input id="id_email" type="text" placeholder="Email" name="email" maxlength="75" />
                
            <div class="email_suggestion"></div>
            </div>
            <div class="input">
                <input type="password" placeholder="Password" name="password" id="id_password" />
                
            </div>

            <div class="action">

                
                    <input type="hidden" name="next" value="/welcome/" />
                
                <input type="submit" value="Create account" class="btn btn-green"/>
            </div>
        </form>
    </div>
</div>



